.blue-btn {
    text-decoration: none;
    background-color: #5865F2;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 3px;
    border: none;
    min-width: 100px;
    max-width: max-content;
    transition: 0.3s;
}

.blue-btn:hover {
    background-color: #4752C4;
}

.blue-btn:active {
    background-color: #3C45A5;
}

.blue-btn:disabled {
    background-color: #3C45A5;
}

.red-btn {
    text-decoration: none;
    background-color: #D83C3E;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 3px;
    border: none;
    min-width: 100px;
    max-width: max-content;
    transition: 0.3s;
}

.red-btn:hover {
    background-color: #A12D2F;
}

.red-btn:active {
    background-color: #8C2729;
}

.red-btn:disabled {
    background-color: #8C2729;
}

.green-btn {
    text-decoration: none;
    background-color: #2D7D46;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 3px;
    border: none;
    min-width: 100px;
    max-width: max-content;
    transition: 0.3s;
}

.green-btn:hover {
    background-color: #215B32;
}

.green-btn:active {
    background-color: #1E532E;
}

.green-btn:disabled {
    background-color: #1E532E;
}

.grey-btn {
    text-decoration: none;
    background-color: #4F545C;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 3px;
    border: none;
    min-width: 100px;
    max-width: max-content;
    transition: 0.3s;
}

.grey-btn:hover {
    background-color: #686D73;
}

.grey-btn:active {
    background-color: #72767D;
}

.grey-btn:disabled {
    background-color: #72767D;
}